div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    animation-name: timingfunction;
    position: relative;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

    #ease{
        animation-timing-function: ease;
    }

    #linear{
        animation-timing-function: linear;
    }

    #ease-in{
        animation-timing-function: ease-in;
    }

    #ease-in-out{
        animation-timing-function: ease-in-out;
    }
     @keyframes timingfunction{
        0%{ background-color: blue;
            top: 0px;
            left: 0px;
    }
    25%{ background-color: rgb(14, 188, 14);
        top: 0px;
        left: 200px;
}
50%{
        background-color: yellow;
        top: 200px;
        left: 200px;
}
75%{
        background-color: rgb(137, 32, 109);
        top: 200px;
        right: 200px;
}
100%{
        background-color: blue;
        top: 0px;
        left: 0px;
}